.copyright__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.copyright__author {
  display: block;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  color: #ffffff;
  text-decoration: none;

  background: #2f3a50;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: #007bff;

    background-color: #ffffff;
  }

  &:active {
    opacity: 0.5;
  }
}
